services:
  postgres-user:
    image: postgres:15
    container_name: postgres-user
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${USER_DB}
    ports:
      - "5433:5432"
    volumes:
      - user-data:/var/lib/postgresql/data

  postgres-task:
    image: postgres:15
    container_name: postgres-task
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${TASK_DB}
    ports:
      - "5434:5432"
    volumes:
      - task-data:/var/lib/postgresql/data

  user-service:
    build: ./user-service
    container_name: user-service
    restart: always
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-user:5432/${USER_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - postgres-user

  task-service:
    build: ./task-service
    container_name: task-service
    restart: always
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-task:5432/${TASK_DB}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - postgres-task

  notification-service:
    build: ../notification-service
    container_name: notification-service
    restart: always
    ports:
      - "8083:8083"

  api-gateway:
    build: ../api-gateway
    container_name: api-gateway
    restart: always
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - USER_SERVICE_URL=http://user-service:8081
      - TASK_SERVICE_URL=http://task-service:8082
    ports:
      - "8080:80"
    depends_on:
      - user-service
      - task-service
      - notification-service
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - api-gateway
volumes:
  user-data:
  task-data:
